 .header-outer-container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    background-color: transparent; 
     height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index:1; 
 
   
 } 
.nav-black{
    background-color: rgb(20, 20,20);
} 
 .header-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */

 } 
 .header-left ul{
    width: 140%;
    display: flex;list-style: none;
    justify-content: space-between;
    color: white; 
    /* background-color:  red; */
      cursor: pointer;
    
 } 
 .header-right ul {
 
    color: white;
     width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    

}  

